<h1 class="tope">Los dulces que te dan felicidad</h1> 

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/inicio"><img src="/images/dulces/logodulces.png" class="rounded-pill w-40 p-3 h-25 d-inline-block" style="width: 120px;"></a>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/inicio">Inicio <i class="fa-solid fa-house"></i></a>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Productos 
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink='/productos/chocolates'>Chocolates</a></li>
                <li><a class="dropdown-item" routerLink='/productos/botanas y salsas'>Botanas y salsas</a></li>
                <li><a class="dropdown-item" routerLink='/productos/aciditos y picositos'>Aciditos</a></li>
                <li><a class="dropdown-item" routerLink='/productos/chicles'>Chicles</a></li>
                <li><a class="dropdown-item" routerLink='/productos/paletas'>Paletas</a></li>
                <li><a class="dropdown-item" routerLink='/productos/granel'>Dulces a granel</a></li>
                <li><a class="dropdown-item" routerLink='/productos/bolos'>Bolos</a></li>
                <li><a class="dropdown-item" routerLink='/productos/piñatas'>Piñatas</a></li>
                <li><a class="dropdown-item" routerLink='/productos/deshechables'>Deshechables</a></li>
                <li><a class="dropdown-item" routerLink='/productos/juguetes'></a></li>            
            </ul>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Marcas 
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink='/marcas/Hersheys'>Hersheys</a></li>
              <li><a class="dropdown-item" routerLink='/marcas/Sonrics'>Sonrics</a></li>
              <li><a class="dropdown-item" routerLink='/marcas/canels'>Canel's</a></li>
              <li><a class="dropdown-item" routerLink='/marcas/Ricolino'>Ricolino</a></li>
              <li><a class="dropdown-item" routerLink='/marcas/Totis'>Toti's</a></li>
              <li><a class="dropdown-item" routerLink='/marcas/De la Rosa'>De la Rosa</a></li>
              <li><a class="dropdown-item" routerLink='/marcas/Encanto'>Encanto</a></li>
              <li><a class="dropdown-item" routerLink='/marcas/Sabritas'>Sabritas</a></li>
              <li><a class="dropdown-item" routerLink='/marcas/Mars'>Mars</a></li>
              <li><a class="dropdown-item" routerLink='/marcas/Vero'>Vero</a></li>
              <li><a class="dropdown-item" routerLink='/marcas/Tama-Roca'>Tama-Roca</a></li>
              <li><a class="dropdown-item" routerLink='/marcas/Wrigleys'>Wrigley's</a></li>
              <li><a class="dropdown-item" routerLink='/marcas/Nestlé'>Nestlé</a></li>
              <li><a class="dropdown-item" routerLink='/marcas/Trident'>Trident</a></li>
              
            </ul>
          </li>


          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/cart">Carrito de compras <i class="fa-solid fa-cart-shopping"></i></a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/inicio">Inicio de sesión <i class="fa-solid fa-user"></i></a>
          </li>


        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>