/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'League Spartann';
    src: url('../public/assets/fonts/LeagueSpartan-Bold.ttf') format('truetype');
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0006;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}



.close-button{
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
}