*{
    box-sizing: border-box;
}

.product-card {
    width: 400px;
    border: 1px solid black;
    height: 90vh;
    padding: 10px;
    text-align: center;
}

img{
    width: 200px;
    height: 200px;
}

input{
    height: 40px;
    font-size: 24px;
    border-radius: 8px;
    text-align: center;
}

#mensaje{
    font-size: 28px;
    color: red;
}

span{
    font-weight: bold;
    font-size: 18px;
}

