<footer class="bg-danger-subtle text-white text-center py-3">
<button class="btn btn-danger" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Contacto directo para pedidos con Dulcitienda</button>

<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasBottomLabel">
      Contacto directo para pedidos con Dulcitienda:  
      <hr> 
      <i class="fa-solid fa-phone">    449-171-1750  </i>
      <br> 
      <i class="fa-brands fa-whatsapp">  449-802-2805  </i>
      <hr> 
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small">
    ...
  </div>
</div>

<p class="text-dark">&copy; Copyright 2025</p>
</footer>