<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
 
    
    <div class="btn-group">
      <button class="btn btn-warning dropdown-toggle dropdown-toggle-split" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Protección de la cabeza
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Cascos de seguridad</a></li>
        <li><a class="dropdown-item" href="#">Gorros desechables</a></li>
        <li><a class="dropdown-item" href="#">Protectores para soldador</a></li>
      </ul>
    </div>

    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Protección ocular y facial
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Lentes de seguridad</a></li>
        <li><a class="dropdown-item" href="#">Goggles de protección química</a></li>
        <li><a class="dropdown-item" href="#">Lentes para soldadura</a></li>
      </ul>
    </div>

    <div class="dropdown">
      <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Protección auditiva
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Tapones auditivos desechables</a></li>
        <li><a class="dropdown-item" href="#">Tapones auditivos reutilizables</a></li>
        <li><a class="dropdown-item" href="#">Orejeras (diadema, acoplables a casco)</a></li>
      </ul>
    </div>
    
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Protección respiratoria
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Mascarillas desechables (N95, KN95, quirúrgicas)</a></li>
        <li><a class="dropdown-item" href="#">Respiradores reutilizables (media cara, cara completa)</a></li>
        <li><a class="dropdown-item" href="#">Filtros y cartuchos para respiradores</a></li>
        <li><a class="dropdown-item" href="#">Sistemas de aire forzado</a></li>
      </ul>
    </div>
        
    <div class="dropdown">
      <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Protección de manos
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Guantes desechables (nitrilo, látex, vinilo)</a></li>
        <li><a class="dropdown-item" href="#">Guantes mecánicos (corte, impacto, abrasión)</a></li>
        <li><a class="dropdown-item" href="#">Guantes dieléctricos</a></li>
        <li><a class="dropdown-item" href="#">Guantes resistentes a químicos</a></li>
        <li><a class="dropdown-item" href="#">Guantes para altas temperaturas</a></li>
      </ul>
    </div>
            
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Protección corporal
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Chalecos de seguridad (reflejantes, con bolsillos)</a></li>
        <li><a class="dropdown-item" href="#">Overoles desechables</a></li>
        <li><a class="dropdown-item" href="#">Ropa ignífuga</a></li>
        <li><a class="dropdown-item" href="#">Mandiles y delantales de protección</a></li>
        <li><a class="dropdown-item" href="#">Ropa química</a></li>
      </ul>
    </div>
                
    <div class="dropdown">
      <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Protección para pies
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Botas de seguridad (punta de acero, composite)</a></li>
        <li><a class="dropdown-item" href="#">Zapatos industriales</a></li>
        <li><a class="dropdown-item" href="#">Calzado dieléctrico</a></li>
        <li><a class="dropdown-item" href="#">Mandiles y delantales de protección</a></li>
        <li><a class="dropdown-item" href="#">Cubre zapatos desechables</a></li>
      </ul>
    </div>

  </div>
</nav>