<div class="container-fluid">
    <div class="hero-section bg-dark text-white text-center py-5 border border-success p-2">
        <div class="container">
            <h1>IndptadosGaming</h1>
            <p class="lead">
                ¡El gaming es para inadaptados como nosotros!
            </p>
        </div>
    </div>

    <section class="py-5">
        <div class="container">
            <!-- completar -->      
             <app-carusel [carruselConfig]="carrusel1"></app-carusel>        
        </div>
    </section>

    <section class="py-5 bg-light">
        <div class="container">
            <h2 class="text-center mb-4">Lo mejor de la decada</h2>
            <p class="text-center mb-4">
                Encuentras los videojuegos mas populares de la decada. nominados y premiados por la comunidad gamer.
            </p>
            <!-- completar -->
             <app-carusel [carruselConfig]="carrusel2"></app-carusel>            
        </div>
    </section>

    <section class="py-5">
        <div class="container">
            <h2 class="text-center mb-4">Los mejores productos y servicios</h2>
            <p class="text-center mb-4">
                Encuentra los mejores productos y servicios para ti. tecnologia de punta asi como los juegos mas nuevos
                y populares.
            </p>
            <div class="row g-3">
                <div class="col-md-4">
                    <!-- completar -->
                     <img src="assets/imgs/rtx-5090.jpeg" class="img-fluid rounded" alt="sample Image 1"/>
                </div>
                <div class="col-md-4">
                    <!-- completar -->
                    <img src="assets/imgs/overview_oled.jpg" class="img-fluid rounded" alt="sample Image 2"/>
                </div>
                <div class="col-md-4">
                    <!-- completar -->
                    <img src="assets/imgs/gamepass.jpg" class="img-fluid rounded" alt="sample Image 3"/>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5 bg-light">
        <div class="container">
            <h2 class="text-center mb-4">...</h2>
            <div class="row g-4">
                <div class="col-md-6">
                    <p>
                        <!-- completar -->
                        Catálogo actualizado Encuentra los títulos más recientes para PlayStation, Xbox, Nintendo y PC, desde los lanzamientos más esperados hasta las ediciones especiales y coleccionistas. Además, contamos con una selección de juegos digitales y físicos para que elijas la opción que mejor se adapte a tu estilo. Explora desde aventuras épicas, shooters llenos de acción, RPGs inmersivos, juegos de estrategia, títulos indie innovadores y mucho más. ¡Nunca te quedarás sin algo nuevo para jugar!
                    </p>
                </div>
                <div class="col-md-6">
                     <!-- completar -->
                </div>
                <div class="col-md-6 order-md-2">
                    <p>
                         <!-- completar -->
                    </p>
                    
                </div>
                <div class="col-md-6 order-md-1">
                    <!-- completar -->
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="py-5">
        <div class="container">
            <p class="text-center">
                Empieza a jugar hoy mismo en IndptadosGaming – ¡Donde los gamers encuentran su siguiente aventura!
            </p>
        </div>
    </section>
</div>