<div class="container my-5 section">

    @if (pet) {
        <div class="row align-items-center">
            <div class="col-md-6">
              <img [src]="pet.picture" alt="{{ pet.name }}" class="img-fluid img-thumbnail rounded">
            </div>
            <div class="col-md-6">
              <h2 class="display-4">{{pet.name }}</h2>
              <p><strong>Tipo:</strong> {{ pet.type }}</p>
              <p><strong>Raza:</strong> {{ pet.race }}</p>
              <p><strong>Estado:</strong> {{ pet.state }}</p>
              <p><strong>Último lugar visto:</strong> {{ pet.place }}</p>
            </div>
          </div>
        
          <section class="my-5">
            <h3 class="text-center mb-5">Información destacada</h3>
            <div class="row text-center">
              <div class="col-12 col-md-4">
                <div class="achievement-card border" id="achievement-1">
                  ID: {{pet.id_pet }}
                </div>
              </div>
              <div class="col-12 col-md-4">
                <div class="achievement-card border" id="achievement-2">
                  Estado: {{ pet.state }}
                </div>
              </div>
              <div class="col-12 col-md-4">
                <div class="achievement-card border" id="achievement-3">
                  Ubicación: {{ pet.place }}
                </div>
              </div>
            </div>
          </section>

    }@else {
        <div class="text-center p-5 banner col-8 mx-auto">
            <h1 class="display-4">¡No se encontró la mascota!</h1>
            <p class="lead">Lo sentimos, no hemos podido encontrar la mascota que buscas.</p>
        </div>
    }    
  </div>